@use "./variables" as *;
@use "./mixins" as *;

body {
  font-family: $primary-font;
  color: $dark-grey;
}

h1 {
  font-size: 1.75rem;
  font-weight: 500;
  @include tablet {
    font-size: 2.25rem;
  }
}

h2 {
  font-size: 1.5rem;
  @include tablet {
    font-size: 2rem;
  }
}

p {
  font-size: 1rem;
  @include tablet {
    font-size: 1.5rem;
  }
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-blue;
}
.logo {
  cursor: pointer;
}

.button {
  font-family: $primary-font;
  background-color: $primary-green;
  color: $white;
  border: none;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  &:hover {
    background-color: #43a047;
  }
  &-cancel {
    background-color: $primary-blue;
    &:hover {
      background-color: #1e88e5;
    }
  }
}
