@use "../../styles/partials/variables" as *;
.expense {
  &-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    // max-width: 31.25rem;
    margin: 0 auto;
    padding: 1.5rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  &-input {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $light-grey;
    border-radius: 4px;
    &:active,
    &:focus {
      outline: none;
      border: 1px solid $dark-grey;
    }
  }
  &-buttons {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
}
