@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.header {
  background-color: $light-grey;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__nav {
    display: flex;
    padding-right: 1rem;
    gap: 2rem;
    &--item {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $dark-grey;
      }
    }
    .active {
      font-weight: bold;
      color: $dark-grey;
      border-bottom: 1px solid $dark-grey;
    }
  }
}
