@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.header {
  position: relative;
  background-color: $light-grey;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  // gap: 1rem;
  &__nav {
    font-size: 1rem;
    display: flex;
    padding-right: 1rem;
    gap: 2rem;
    &--item {
      transition: all 0.3s ease-in-out;
      &:hover {
        color: $dark-grey;
      }
    }
    .active {
      font-weight: bold;
      color: $dark-grey;
      border-bottom: 1px solid $dark-grey;
    }
  }
  &__user {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    position: absolute;
    right: 1rem;
    top: 2rem;
    &--logout {
      cursor: pointer;
    }
  }
  @include tablet {
    gap: 1.5rem;
    &__nav {
      font-size: 1.5rem;
      gap: 4rem;
    }
  }
}
